<div class="nav_bar">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        MyInventorySystem - Admin
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Dashboard</a>
      <a href="/locations">Locations</a>
      <a href="/categories">Category</a>
      <a href="/item">Items</a>
      <a href="/issue">Issues</a>
      <div class="dropdown">
        <a href="#" class="dropbtn">Enquires</a>
        <div class="dropdown-content">
          <a href="/partnumbers">By Partnumber</a>
          <!-- <a href="/searchlocations">By Location</a> -->
        </div>
      </div>
      <a href="/receipt">Receipts</a>
      <a href="/reports">Report</a>
      <a href="/users">Users</a>
    </div>
  </div>