<div class="nav_bar">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        MyInventorySystem
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Dashboard</a>
      <a href="/location">Locations</a>
      <a href="/category">Category</a>
      <a href="/items">Items</a>
      <a href="/issues">Issues</a>
      <div class="dropdown">
        <a href="#" class="dropbtn">Enquires</a>
        <div class="dropdown-content">
          <a href="/partnumber">By Partnumber</a>
          <!-- <a href="/searchlocation">By Location</a> -->
        </div>
      </div>
      <a href="/receipts">Receipts</a>
      <a href="/report">Report</a>
    </div>
  </div>