<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar') %>

<div class="container">
    <button class="btn btn-info" type="submit" style="margin-top: 5px;"><a href="/viewreceipts" style="text-decoration: none; color: black;">Manage Receipts</a></button>
    <div class="row">
      <div class="col-md-12">
        <div class="add_bt">
          <p><i class="bi bi-plus-circle"></i> Add Receipt</p>
          <form method="post" action="#" id="staform">
            <div id="form_cont">
              <label>Client Name</label>
              <input
                type="text"
                name="clientname"
                placeholder="Client Name"
                required
              />
            </div>
            <br />
            <div id="form_cont">
              <label>Client Contact</label>
              <input
                type="tel"
                name="clientcontact"
                placeholder="Client Contact"
                required
              />
            </div>
            <br />
            <div id="form_cont">
              <label>Invoice Number</label>
              <input
                type="number"
                name="invoicenumber"
                placeholder="invoice number"
                required
              />
            </div>
            <br />
            <div id="form_cont">
              <label>Value Date</label>
              <input type="date" name="orderdate" required />
            </div>
            <br />
            <table>
              <tr>
                <th>Total Items Purchased</th>
                <th>Total Items Names</th>
                <th>Total Quantities</th>
                <th>Total Amount Paid</th>
              </tr>
              <tr>
                <td>
                  <input
                    type="number"
                    name="total_items"
                    placeholder="Total Items"
                    required
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="all_items_name"
                    placeholder="Names"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="total_quantities"
                    placeholder="Total Quantities"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="total_amount"
                    placeholder="Total Amount"
                    required
                  />
                </td>
                <td></td>
              </tr>
            </table>
            <button
              type="submit"
              class="updatebtn"
              name="button5"
              value="button5"
            >
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('../../partials/footer') %>