<%- include('./partials/header.ejs') %>

<div class="container">
    <h1>The Dashboard</h1>
    <div>
      <button class="btn btn-primary"><a href="/adminlogin" style="text-decoration: none; color: white;">Login As Admin</a></button>
      <button class="btn btn-secondary"><a href="/userlogin" style="text-decoration: none; color: white;">Login As User</a></button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="products">
            <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
              <div class="card-header">Total Items</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="orders">
            <div class="card text-white bg-danger mb-3" style="width: 18rem;">
              <div class="card-header">Total Issues</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="users">
            <div class="card text-white bg-primary mb-3" style="width: 18rem;">
              <div class="card-header">Total Users</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="users">
            <div class="card text-white bg-success mb-3" style="width: 18rem;">
              <div class="card-header">Total Admin Users</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="users">
            <div class="card text-white bg-warning mb-3" style="width: 18rem;">
              <div class="card-header">Total Locations</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="users">
            <div class="card text-white bg-info mb-3" style="width: 18rem;">
              <div class="card-header">Total Categories</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
          <div class="users">
            <div class="card text-dark bg-link mb-3" style="width: 18rem;">
              <div class="card-header">Total Transactions</div>
              <div class="card-body">
                <h5 class="card-title">--</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
<%- include('./partials/footer.ejs') %>