<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar') %>

<div class="container">
    <button class="btn btn-info" type="submit" style="margin-top: 5px; margin-bottom: 5px;"><a href="/category" style="text-decoration: none; color: black;">Add Catergory</a></button>
    <div class="row">
        <div class="col-md-12">
            <div class="add_bt">
                <p><i class="bi bi-pen"></i> Manage Categories</p>
                <table class="table table-primary table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td><a href="/editcategory" style="margin-right:5px; color:green;"><i class="bi bi-pen"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>