<%- include('../../partials/header.ejs') %>
<%- include('../../partials/adminnavbar') %>
<div style="text-align: center;">
<h1>REPORT SECTION</h1>
<h3>Generate PDF document </h3>
<a href="/generate" class="btn btn-success">Generate pdf</a>
</div>
<%- include('../../partials/footer') %>vo